{% extends "base.html" %}{% block title %}
home
{% endblock %}
{% block content%}
<main class="container mt-4">
    <section id="trip-section">
        <h2 class="mb-3">Plan Your Road Trip</h2>
        <form id="trip-form" action="googleMapsApi.py" method="get">
            <div class="form-group">
                <label for="start">Starting Point:</label>
                <input type="text" class="form-control" id="start" name="start" placeholder="Enter Address" required>
            </div>
            <div class="form-group">
                <label for="end">Destination:</label>
                <input type="text" class="form-control" id="end" name="end" placeholder="Enter Address" required>
            </div>
            <button type="submit" class="btn btn-primary">Plan Road Trip</button>
        </form>
        <div id="results" class="mt-4">
            <!-- Display playlist and restaurant recommendations here -->
        </div>
    </section>
</main>
{% endblock %}
