{% extends "base.html" %} 

{% block title %}Login{% endblock %} 
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Login - Musically Miles</title>
</head>
<body>
  <nav class="container-fluid">
    <ul>
      <li><strong>Musically Miles</strong></li>
    </ul>
    <ul>
      <li><a class=id="signUp" role="button" href="/sign-up">Sign Up</a></li>
    </ul>
  </nav>
    <main class="container">
        <div class="grid">
            <section>
                <hgroup>
                    <h2>Welcome to Musically Miles</h2>
                    <h3>Login to Your Account</h3>
                </hgroup>
                <form method="POST">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Enter your email" required>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    <button type="submit" class="primary">Login</button>
                </form>
                <button type="button" id="spotify-login" data-client-id="{{ SPOTIFY_CLIENT_ID }}" style="background-color: #1DB954; color: white; border: none; cursor: pointer;">Login with Spotify</button>

                <script>
                  document.getElementById('spotify-login').onclick = function () {
                    var clientId = this.getAttribute('data-client-id');
                    window.location.href = 'https://accounts.spotify.com/authorize?client_id=' + clientId + '&response_type=code&redirect_uri=http://127.0.0.1:5000/callback';
                  };
                </script>
            </section>
        </div>
    </main>
    <footer class="container">
      <small>&copy; 2023 Musically Miles. All rights reserved.</small>
    </footer>
    </body>
    {% endblock %}