{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <form method="POST">
      <h3 align="center">Login</h3>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Login</button>
      <!-- Spotify OAuth button -->
      <button type="button" class="btn btn-secondary" id="spotify-login">Login with Spotify</button>
    </form>
    <script>
      document.getElementById('spotify-login').onclick = function () {
        // Replace with your actual Spotify authorization URL
        window.location.href = 'https://accounts.spotify.com/authorize?client_id=SPOTIFY_API&response_type=code&redirect_uri=http://127.0.0.1:5000&scope=user-read-private%20playlist-read-private%20user-read-email';
      };
    </script>
    {% endblock %}