<!DOCTYPE html>
<html>
<head>
    <title>Welcome to {{ state }}</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f8f9fa;
            color: #333;
        }
        iframe {
            width: 80%;
            height: 80vh;
        }
    </style>
</head>
<body>
    <h1>Our pick for {{ state }}</h1>
    <iframe src="https://open.spotify.com/embed/playlist/{{ playlist.id }}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</body>
</html>