
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Playlist - Musically Miles</title>
    <style>
        iframe {
            width: 100%;
            height: 70vh;
            border: none;
        }
        #savePlaylistButton {
            background-color: #1DB954; 
            color: white; 
            border: none; 
            cursor: pointer;
            padding: 10px 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <nav class="container-fluid">
        <ul>
          <li><strong>Musically Miles</strong></li>
        </ul>
        <ul>
          <li><a class="outline" id="Back" role="button" href="/">Back</a></li>
        </ul>
      </nav>
    <main class="container">
            <section>
                <h1>Welcome to Your Playlist</h1>
                <iframe src="https://open.spotify.com/embed/playlist/{{ playlist.id }}" allowtransparency="true" allow="encrypted-media"></iframe>
                <button id="savePlaylistButton">Save to Spotify</button>
            </section>
    </main>
    <footer class="container">
      <small>&copy; 2023 Musically Miles. All rights reserved.</small>
    </footer>
    <script>
        document.getElementById('savePlaylistButton').addEventListener('click', function() {
            fetch('/save_playlist', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ playlistId: "{{ playlist.id }}" })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Playlist saved:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>