{% extends "base.html" %}
{% block title %}Sign Up{% endblock %} 

{% block content%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Sign Up</title>
</head>
<body>
  <nav class="container-fluid">
    <ul>
      <li><strong>Musically Miles</strong></li>
    </ul>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a class=id="login" href="/login">Log in</a></li>
      <li><a class=id="signUp" role="button" href="/sign-up">Sign Up</a></li>
    </ul>
  </nav>
    <main class="container">
        <div class="grid">
            <section>
                <hgroup>
                    <h2>Welcome</h2>
                    <h3>Please Sign Up</h3>
                </hgroup>
                <form method="POST">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" placeholder="Enter email" required>
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName" placeholder="Enter first name" required>
                    <label for="password1">Password</label>
                    <input type="password" id="password1" name="password1" placeholder="Enter password" required>
                    <label for="password2">Password (Confirm)</label>
                    <input type="password" id="password2" name="password2" placeholder="Confirm password" required>
                    <button type="submit">Sign Up</button>
                </form>
            </section>
        </div>
    </main>
    <footer class="container">
      <small>&copy; 2023 Musically Miles. All rights reserved.</small>
    </footer>
    </body>
    {% endblock %}